<% @name= "home" %> 


<!--------------------------------------- slider ------------------------->


 <section class="colon10">
    	<div class="container">
        	<div class="divider"></div>
        	<div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-left">
				<a href="#">
					<img width="600" src="http://res.cloudinary.com/bisonshare/image/upload/v1426740019/http_hairstyles-site.com_wp-content_uploads_2015_03_Black-Woman-Hairstyles-2015_wgrnqn.jpg" alt="">
				</a>
            </div>

        	<div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-right">
                <div class="about-widget">
                    <header>
                        <h3><i class="icon-android"></i> About Our Company</h3>
                    </header>
                    <p>Suscipit illo voluptas aperiam repudiandae impedit quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem. Suscipit illo voluptas aperiam repudiandae impedit quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
                    
                    <a class="btn btn-primary" href="#">read more</a>
                </div>
            </div>
		</div>
        <div class="divider"></div>
    </section>

