<h1>Pages#show</h1>
<p>Find me in app/views/pages/show.html.erb</p>

<img src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg" id="target" />
<script language="Javascript">
    jQuery(function($) {
        $('#target').Jcrop();
    });
  
  
</script>