    <section class="colon14">

      <% @name="Hair Gallery" %>       
      


        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general">
            <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

                <div class="message text-center">
                    <h2>The most recent hairstyles on <span>AnyStyle</span></h2>
                </div>
              
  <% @styles.each do |style| %>    
                <div class="col-lg-3 col-md-3 col-sm-6">
                	<div class="portfolio-columns">
                    <%= link_to(style,  "data-no-turbolink" => true) do %>                  
                      <%= cl_image_tag(style.image1, :width => 250, :height => 250,  :crop => :fill, :gravity => :face) %>
                    <div>
                      <br><br>
                    <h5><%= style.name %></h5>
                    </div>
                    <%end %>
                   </div>
                </div>
    <% end %>            
            
                
				<div class="clearfix"></div>
                
                <ul class="pagination">
                  <li><a href="#">«</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
			</div><!-- end content -->
          <%= link_to 'New Style', new_style_path, class:"btn btn-primary btn-lg text-center"%>
        </div><!-- end container -->
	
    <!-- END CONTENT -->
    
	</section><!-- end colon1 -->

