// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require bootstrap
 *= require bootstrap-datetimepicker.min
 *= require color
 *= require content_slider_style
 *= require cp_load
 *= require horizontal
 *= require hover
 *= require hover11
 *= require jquery.bxslider
 *= require prettyPhoto
 *= require styles

 *= require font-awesome
*/