	<footer class="footer-wrapper">
    	<div class="container">
        	<div class="col-lg-6 col-md-6 col-sm-6">
            	<div class="widget">
					<h2 class="general-title">
						<span>About Thomonique</span>
					</h2>
                    <p>Thomonique is a an online hair show displaying all the beatiful hair done in your neighborhood and around the world. Join our community by liking your favorite styles and sharing your opinions about them. </p> 
                <p>If you are a hair stylist, post pictures of your works here to see what others think.</p>
                <%= link_to "read more", pages_about_path, class:"btn btn-primary btn-sm" %>
				</div>
            </div>

        	<div class="col-lg-6 col-md-6 col-sm-6">
            	<div class="widget">
					<h2 class="general-title">
						<span>Contact Details</span>
					</h2>
                    <p>Feel free to contact us for feedback, inquiries, and business opportunities.</p>
                    	<ul class="contact-details">
                      	<li><i class="icon-home"></i>We are based in Washington, DC</li>
                        	<li><i class="icon-mobile-phone"></i> +0 554 777 78 78</li>
                         <li><i class="icon-envelope-alt"></i>thomonique@email.com</li>
                      </ul>
				</div>
            </div>
		</div>
	</footer>
    
	<div class="copyright-wrapper">
    	<div class="container">
        	<div class="col-lg-6 col-md-6 col-sm-6">
            	<span class="copyright">
                    © Copyright 2015 -
                    <a href="#">Thomonique</a>
                </span>
            </div>
        	<div class="col-lg-6 col-md-6 col-sm-6">
                <nav>
                    <ul class="footer-menu">
                  		<li><a href="/" ><i class="icon-home"></i> Home</a>
                  		<li><%= link_to "Gallery", styles_path %></li>
                  		<li><%= link_to "About", pages_about_path %></li>
                  		<li><%= link_to "Contact", pages_contact_path %></li>
                    </ul>
                </nav>
            </div>
		</div>
	</div>

<div class="dmtop">Scroll to Top</div>

