	<footer class="footer-wrapper">
    	<div class="container">
        	<div class="col-lg-3 col-md-3 col-sm-6">
            	<div class="widget">
					<h2 class="general-title">
						<span>About {NEVER}MIND</span>
					</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> 
                    <a class="btn btn-primary btn-sm" href="#">read more</a>
				</div>
            </div>
        	<div class="col-lg-3 col-md-3 col-sm-6">
            	<div class="widget">
					<h2 class="general-title">
						<span>Flickr Stream</span>
					</h2>
                    
				</div>
            </div>
        	<div class="col-lg-3 col-md-3 col-sm-6">
            	<div class="widget">
					<h2 class="general-title">
						<span>Twitter Stream</span>
					</h2>
					<div class="tweets">
						<ul>
							<li>
								<span class="content">
									Looking a special HTML5 CSS3 template for your works? Visit here
									<a href="http://goo.gl/eVrkdq">http://goo.gl/eVrkdq</a>
								</span>
							</li>
						</ul>
					</div>
                        <a href="https://twitter.com/envato" class="twitter-follow-button" data-show-count="false">Follow @envato</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				  </div>
            </div>
        	<div class="col-lg-3 col-md-3 col-sm-6">
            	<div class="widget">
					<h2 class="general-title">
						<span>Contact Details</span>
					</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac.</p>
                    	<ul class="contact-details">
                      	<li><i class="icon-home"></i> Lorem ipsum dolar sit amet / USA</li>
                        	<li><i class="icon-mobile-phone"></i> +0 554 777 78 78</li>
                         <li><i class="icon-envelope-alt"></i> hello@designingmedia.com</li>
                         <li><i class="icon-map-marker"></i> <a href="#" title="View large map on Google">Google Map</a></li>  
                      </ul>
				</div>
            </div>
		</div>
	</footer>
    
	<div class="copyright-wrapper">
    	<div class="container">
        	<div class="col-lg-6 col-md-6 col-sm-6">
            	<span class="copyright">
                    © Copyright 2013 -
                    <a href="#">{NEVER}MIND</a> HTML5 Template by 
                    <a href="http://www.designingmedia.com">Designing Media</a>
                </span>
            </div>
        	<div class="col-lg-6 col-md-6 col-sm-6">
                <nav>
                    <ul class="footer-menu">
                  		<li><a href="#" title="#">Home</a></li>
                  		<li><a href="#" title="#">About</a></li>
                  		<li><a href="#" title="#">Portfolio</a></li>
                  		<li><a href="#" title="#">Shop</a></li>
                  		<li><a href="#" title="#">Forums</a></li>
                  		<li><a href="#" title="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
		</div>
	</div>

<div class="dmtop">Scroll to Top</div>

