  <section class="home-products gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h2 class="main-title">Examples of My Work</h2>
          <h4 class="sub-title">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 cp_load fadeInUp">
          <ul class="pro-box">
            <li class="pro">
              <div class="block-image"> <%= image_tag "hpro1.jpg", :class => "img-responsive" %>
                <div class="img-overlay-3-up pat-override"></div>
                <div class="img-overlay-3-down pat-override"></div>
                <ol class="static-style">
                  <li class="white-rounded"><a href="product-details.html"><i class="fa fa-link"></i></a> </li>
                  <li class="white-rounded"><a href="images/large/large1.gif" data-rel="prettyPhoto[gallery1]" ><i class="fa fa-plus"></i></a> </li>
                </ol>
              </div>
              <span class="addtocart"><a href="cart.html">Add To Cart</a></span> </li>
            <li>
              <h4><a href="product-details.html">Massage Equipments</a></h4>
            </li>
            <li>We have many equipments of massage</li>
            <li class="pro-footer"><span class="price">$199.00</span> <span class="rating"> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star-o"></i></a> <a href="#"> <i class="fa fa-star-o"></i></a> <a href="#"> <i class="fa fa-star-o"></i></a> </span> </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 cp_load fadeInUp">
          <ul class="pro-box">
            <li class="pro">
              <div class="block-image"> <%= image_tag "hpro2.jpg", :class => "img-responsive" %>
                <div class="img-overlay-3-up pat-override"></div>
                <div class="img-overlay-3-down pat-override"></div>
                <ol class="static-style">
                  <li class="white-rounded"><a href="product-details.html"><i class="fa fa-link"></i></a> </li>
                  <li class="white-rounded"><a href="images/large/large1.gif" data-rel="prettyPhoto[gallery1]" ><i class="fa fa-plus"></i></a> </li>
                </ol>
              </div>
              <span class="addtocart"><a href="cart.html">Add To Cart</a></span> </li>
            <li>
              <h4><a href="product-details.html">Massage Equipments</a></h4>
            </li>
            <li>We have many equipments of massage</li>
            <li class="pro-footer"><span class="price">$199.00</span> <span class="rating"> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star-o"></i></a> <a href="#"> <i class="fa fa-star-o"></i></a> <a href="#"> <i class="fa fa-star-o"></i></a> </span> </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 cp_load fadeInUp">
          <ul class="pro-box">
            <li class="pro">
              <div class="block-image"> <%= image_tag "hpro3.jpg", :class => "img-responsive" %>
                <div class="img-overlay-3-up pat-override"></div>
                <div class="img-overlay-3-down pat-override"></div>
                <ol class="static-style">
                  <li class="white-rounded"><a href="product-details.html"><i class="fa fa-link"></i></a> </li>
                  <li class="white-rounded"><a href="images/large/large1.gif" data-rel="prettyPhoto[gallery1]" ><i class="fa fa-plus"></i></a> </li>
                </ol>
              </div>
              <span class="addtocart"><a href="cart.html">Add To Cart</a></span> </li>
            <li>
              <h4><a href="product-details.html">Massage Equipments</a></h4>
            </li>
            <li>We have many equipments of massage</li>
            <li class="pro-footer"><span class="price">$199.00</span> <span class="rating"> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star-o"></i></a> <a href="#"> <i class="fa fa-star-o"></i></a> <a href="#"> <i class="fa fa-star-o"></i></a> </span> </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 cp_load fadeInUp">
          <ul class="pro-box">
            <li class="pro">
              <div class="block-image"> <%= image_tag "hpro4.jpg", :class => "img-responsive" %>
                <div class="img-overlay-3-up pat-override"></div>
                <div class="img-overlay-3-down pat-override"></div>
                <ol class="static-style">
                  <li class="white-rounded"><a href="product-details.html"><i class="fa fa-link"></i></a> </li>
                  <li class="white-rounded"><a href="images/large/large1.gif" data-rel="prettyPhoto[gallery1]" ><i class="fa fa-plus"></i></a> </li>
                </ol>
              </div>
              <span class="addtocart"><a href="cart.html">Add To Cart</a></span> </li>
            <li>
              <h4><a href="product-details.html">Massage Equipments</a></h4>
            </li>
            <li>We have many equipments of massage</li>
            <li class="pro-footer"><span class="price">$199.00</span> <span class="rating"> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star-o"></i></a> <a href="#"> <i class="fa fa-star-o"></i></a> <a href="#"> <i class="fa fa-star-o"></i></a> </span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- /. Products End ./-->