  <section class="quote-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="quote-slider">
            <li> <i class="fa fa-quote-left"></i>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <%= image_tag "quote-user.jpg" %>
              <h4>Eliza Jonsep</h4>
            </li>
            <li> <i class="fa fa-quote-left"></i>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              <%= image_tag "buser1.jpg" %>
              <h4>Jonsep Eliza</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
