  <section id="hservices">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h2 class="main-title">Services</h2>
          <h4 class="sub-title">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</h4>
        </div>
      </div>
      <div class="row gallery">
        <div class="col-lg-4 col-md-4 col-sm-6 cp_load fadeInUp">
          <div class="hservice">
            <ul>
              <li>
                <div class="block-image"> <%= image_tag "services-1.jpg", :class => "img-responsive" %>
                  <div class="img-overlay-3-up pat-override"></div>
                  <div class="img-overlay-3-down pat-override"></div>
                  <ol class="static-style">
                    <li class="white-rounded"><a href="services-details.html"><i class="fa fa-link"></i></a> </li>
                    <li class="hicon"> <span>$350</span> <strong>$300</strong> only </li>
                    <li class="white-rounded"><a href="images/large/large1.gif" data-rel="prettyPhoto[gallery1]"><i class="fa fa-plus"></i></a> </li>
                  </ol>
                </div>
              </li>
              <li>
                <h4><a href="services-details.html">Body Massage</a></h4>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 cp_load fadeInUp">
          <div class="hservice">
            <ul>
              <li>
                <div class="block-image"> <%= image_tag "services-6.jpg", :class => "img-responsive" %>
                  <div class="img-overlay-3-up pat-override"></div>
                  <div class="img-overlay-3-down pat-override"></div>
                  <ol class="static-style">
                    <li class="white-rounded"><a href="services-details.html"><i class="fa fa-link"></i></a> </li>
                    <li class="hicon"> <span>$350</span> <strong>$300</strong> only </li>
                    <li class="white-rounded"><a href="images/large/large1.gif" data-rel="prettyPhoto[gallery1]" ><i class="fa fa-plus"></i></a> </li>
                  </ol>
                </div>
              </li>
              <li>
                <h4><a href="services-details.html">manicure & pedicure</a></h4>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
