  <!-- /.Slider Start ./-->
  <section class="main-slider">
    <div class="slider">
      <ul class="header-slider">
        <li>
          <div class="slider-text">
            <h1>Luxury Care Pageant Beauty Palace</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard when an unknown printer took a galley.</p>
          </div>
          <span><%= image_tag "slider01.jpg", :title => "Funky roots" %></span> </li>
        <li>
          <div class="slider-text">
            <h1>Pageant Beauty Palace</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard when an unknown printer took a galley.</p>
          </div>
          <span><%= image_tag "slider02.jpg", :title=> "The long and winding road" %></span></li>
        <li>
          <div class="slider-text">
            <h1>Luxury Care</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard when an unknown printer took a galley.</p>
          </div>
          <span><%= image_tag "slider03.jpg", :title => "Happy trees" %></span></li>
      </ul>
      <!-- /.Slider End ./--> 
    </div>
  </section>
  
  <!-- /.Slider End ./--> 